@tailwind base; /* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

@layer utilities {
    .link-disabled {
        color: rgb(var(--color-disabled));
        cursor: default;
        pointer-events: none;
    }
}

@layer base {
    html[data-theme='cold'] {
        --color-odd: 172, 204, 219; /* #acccdb */
        --color-odd-hover: 219, 187, 172; /* #dbbbac */
        --color-even: 195, 218, 228; /* #c3dae4 */
        --color-even-hover: 228, 195, 195; /* #e4c3c3 */
        --color-accent: 255, 212, 163; /* #ffd4a3 */
        --color-back: 51, 51, 51; /* #333333 */
        --color-high: 201, 228, 195; /* #c9e4c3 */
        --color-peak: 255, 239, 197; /* #ffefc5 */
    }

    html[data-theme='hot'] {
        --color-contrast: 246, 253, 255;
        --color-fore: 206, 240, 246;
        --color-odd: 255, 255, 255;
        --color-even: 240, 253, 255;
        --color-odd-hover: 255, 232, 179;
        --color-even-hover: 255, 232, 179;
        --color-accent: 255, 242, 211;
        --color-back: 255, 255, 255;
        --color-high: 255, 242, 211;
        --color-peak: 255, 242, 211;
        --color-title: 51, 51, 51;
        --color-links: 51, 51, 51;
        --color-disabled: 153, 153, 153;
        --color-button-hover: 255, 232, 211;
        --color-button: 208, 217, 255;
        --color-strong: 250, 167, 88;
    }
}

@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
}

td {
    border-bottom: 0;
}

th {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.clickable {
    cursor: pointer;
}

.deactivate-popup-button {
    border-radius: 0;
}

.deactivate-popup {
    border-radius: 0;
}

.deactivate-modal {
    border-radius: 0;
    color: #333333;
}

thead.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}

table {
    table-layout: fixed;
    width: 100%;
}

.blue-boxy-filter {
    filter: drop-shadow(4px 4px #788f99);
}

@media screen and (max-width: 800px) {
    .hide-on-small {
        display: none;
    }
}

.text-responsive {
    font-size: clamp(2rem, 4vw + 1rem, 4rem);
}
.text-responsive-small {
    font-size: clamp(1rem, 2vw + 0.5rem, 2rem);
}
.blingy {
    background-image: url("/static/blingy.gif");
    background-color: rgb(0, 0, 0);
    background-position: top left;
    background-repeat: repeat;
    background-attachment: fixed;
    display: block;
    white-space: nowrap;
    line-height: 1.2;
    height: 100%;
    width: 100%;
}
#bouncing-element, #bouncing-element2 {
    will-change: transform;
    pointer-events: none;
}
#bouncing-element2 a {
    pointer-events: auto;
}
