package homeweb

import (
	"boardfund/service/donations"
	"boardfund/web/common"
)

templ MonthlyTotalsChart(fundStats donations.FundStats) {
	@templ.JSONScript("monthly", fundStats.Monthly)
	<script type="application/javascript" src={ common.Asset("monthly.js") }></script>
}
