package homeweb

import (
    "boardfund/service/donations"
)

templ MonthlyTotalsChart(fundStats donations.FundStats) {
	@templ.JSONScript("monthly", fundStats.Monthly)
	<script type="application/javascript" src="/static/monthly.js"></script>
}
